
*{
	padding: 0;
	margin: 0;
}

html{
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}

#chart{
	position: absolute;
	/*z-index: 10;*/
	/*left: 50%;
	top: 50%;*/
	width: 70rem;
	height: 700rem;
	/*border: blue 2px solid;*/
}

p{
	font-size: 5rem;
	font-weight: 700;
	text-shadow: -2px 2px #B1D1E6;
}

#titleBox{
	position: absolute;
	left: 50%;
	width: 20rem;
	top:34rem;
	margin-left: -10rem;
	text-align: center;
}

#titleOne{
	width: 20rem;
	position: absolute;
}

#titleTwo{
	width: 20rem;
	position: absolute;
	top: 5rem;
}

/*.image{
	position: relative;
	top: 10rem;
	display: none;
	margin: .2rem;
	background: black;
}*/

.char1{
	text-shadow: -2px 2px #63BCFF;
}
.char2{
	text-shadow: -2px 2px #4DB9AB;
}
.char3{
	text-shadow: -2px 2px #BC5EFF; 
}
.char4{
	text-shadow: -2px 2px #6C66FF;
}
.char5{
	text-shadow: -2px 2px #9EDBAD;
}
.char6{
	text-shadow: -2px 2px #FF0084;
}
.char7{
	text-shadow: -2px 2px #D9E964;
}


