
*{
	padding: 0;
	margin: 0;
}

html{
	font-size: 10px;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Nunito', sans-serif;
	background: black;
	color: white;
}

#chart{
	position: absolute;
	/*background: blue;*/
	left: 50%;
	top: 50%;
	margin-left: -35rem;
	margin-top: -35rem;
	width: 70rem;
	height: 70rem;
}

#daysImage{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -40rem;
	margin-top: -40rem;
	width: 80rem;
	height: 80rem;
}

.fade{
	transition: opacity .5s ease-in-out;
}

#text{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 30rem;
	margin-left: -15rem;
	text-align: center;
}

#titleOne{
	position: relative;
	font-size: 5rem;
	top: -9rem;
	width: 30rem;
	left: 0.5rem;
/*	height: 10rem;
*/	text-align: center;
}

#copy{
	position: relative;
	font-size: 1.4rem;
	font-weight: 200;
	width: 25rem;
	left: 2.5rem;
	top: -14rem;
	text-align: center;
}

a{
	color: #6666FF;
	font-weight: 400;
	text-decoration: none;
}
a:visited{
	color: #1975A3;
}
a:hover{
	color: #4DB8FF;
	/*text-shadow: 1px -1px #FF9999;*/
}

#imageSVG{
	cursor: pointer;
}

#pictureBox{
	position: absolute;
	opacity: 0;
	left: 50%;
	top: 50%;
	margin-left: -14rem;
	margin-top: -14rem;
	width: 28rem;
	height: 28rem;
	background: #FFF;
	border-radius: 50%;
}

